body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #979797;
    height: 1200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.asuka {
    width: 800px;
    height: 960px;
    padding-right: 200px;
}

.asuka::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: transparent;
    box-shadow:
    /**linha 01*/
        0px 80px #ffffff,
        10px 80px #ffffff,
        20px 80px #ffffff,
        30px 80px #ffffff,
        40px 80px #ffffff,
        50px 80px #ffffff,
        60px 80px #ffffff,
        70px 80px #ffffff,
        80px 80px #ffffff,
        90px 80px #ffffff,
        100px 80px #b2613c6b,
        110px 80px #b2613c,
        120px 80px #b2613c,
        130px 80px #b2613c,
        140px 80px #b2613c,
        150px 80px #b2613c,
        160px 80px #b2613c,
        170px 80px #b2613c,
        180px 80px #b2613c,
        190px 80px #b2613c,
        200px 80px #b2613c,
        210px 80px #b2613c,
        220px 80px #b2613c,
        230px 80px #b2613c,
        240px 80px #b2613c6b,
        250px 80px #b2613c6b,
        260px 80px #ffffff,
        270px 80px #ffffff,
        280px 80px #ffffff,
        290px 80px #ffffff,
        300px 80px #ffffff,
        310px 80px #b2613c6b,
        320px 80px #b2613c6b,
        330px 80px #b2613c,
        340px 80px #b2613c,
        350px 80px #b2613c,
        360px 80px #b2613c,
        370px 80px #b2613c,
        380px 80px #b2613c,
        390px 80px #b2613c,
        400px 80px #b2613c,
        410px 80px #b2613c,
        420px 80px #b2613c,
        430px 80px #b2613c,
        440px 80px #b2613c,
        450px 80px #b2613c,
        460px 80px #b2613c,
        470px 80px #b2613c,
        480px 80px #b2613c,
        490px 80px #b2613c,
        500px 80px #b2613c,
        510px 80px #b2613c,
        520px 80px #b2613c,
        530px 80px #b2613c,
        540px 80px #b2613c,
        550px 80px #b2613c,
        560px 80px #b2613c,
        570px 80px #b2613c,
        580px 80px #b2613c,
        590px 80px #b2613c,
        600px 80px #b2613c,
        610px 80px #b2613c,
        620px 80px #b2613c,
        630px 80px #b2613c,
        640px 80px #b2613c,
        650px 80px #b2613c,
        660px 80px #7a2b14,
        670px 80px #b2613c,
        680px 80px #b2613c,
        690px 80px #7a2b14,
        700px 80px #7a2b14,
        710px 80px #7a2b14,
        720px 80px #7a2b14,
        730px 80px #b2613c,
        740px 80px #b2613c,
        750px 80px #7a2b14,
        760px 80px #b2613c,
        770px 80px #ffffff,
        780px 80px #ffffff,
        790px 80px #b2613c,
        800px 80px #7a2b14,
        810px 80px #7a2b14,
        820px 80px #7a2b14,
        830px 80px #7a2b14,
        840px 80px #7a2b14,
        850px 80px #7a2b14,
        860px 80px #7a2b14,
        870px 80px #7a2b14,
        880px 80px #7a2b14,
    /**linha 02*/
        0px 90px #ffffff,
        10px 90px #ffffff,
        20px 90px #ffffff,
        30px 90px #ffffff,
        40px 90px #ffffff,
        50px 90px #ffffff,
        60px 90px #ffffff,
        70px 90px #ffffff,
        80px 90px #ffffff,
        90px 90px #ffffff,
        100px 90px #b2613c6b,
        110px 90px #b2613c,
        120px 90px #b2613c,
        130px 90px #b2613c,
        140px 90px #b2613c,
        150px 90px #b2613c,
        160px 90px #b2613c,
        170px 90px #b2613c,
        180px 90px #b2613c,
        190px 90px #b2613c,
        200px 90px #b2613c6b,
        210px 90px #b2613c,
        220px 90px #b2613c,
        230px 90px #b2613c,
        240px 90px #b2613c,
        250px 90px #b2613c,
        260px 90px #b2613c6b,
        270px 90px #b2613c6b,
        280px 90px #ffffff,
        290px 90px #ffffff,
        300px 90px #ffffff,
        310px 90px #b2613c6b,
        320px 90px #b2613c6b,
        330px 90px #b2613c,
        340px 90px #b2613c,
        350px 90px #b2613c,
        360px 90px #b2613c,
        370px 90px #b2613c,
        380px 90px #b2613c,
        390px 90px #b2613c,
        400px 90px #b2613c,
        410px 90px #b2613c,
        420px 90px #b2613c,
        430px 90px #b2613c,
        440px 90px #b2613c,
        450px 90px #b2613c,
        460px 90px #b2613c,
        470px 90px #b2613c,
        480px 90px #b2613c,
        490px 90px #b2613c,
        500px 90px #b2613c,
        510px 90px #b2613c,
        520px 90px #7a2b14,
        530px 90px #7a2b14,
        540px 90px #7a2b14,
        550px 90px #7a2b14,
        560px 90px #7a2b14,
        570px 90px #b2613c,
        580px 90px #b2613c,
        590px 90px #b2613c,
        600px 90px #b2613c,
        610px 90px #b2613c,
        620px 90px #b2613c,
        630px 90px #b2613c,
        640px 90px #b2613c,
        650px 90px #b2613c,
        660px 90px #b2613c,
        670px 90px #7a2b14,
        680px 90px #7a2b14,
        690px 90px #b2613c,
        700px 90px #7a2b14,
        710px 90px #b2613c,
        720px 90px #7a2b14,
        730px 90px #7a2b14,
        740px 90px #7a2b14,
        750px 90px #7a2b14,
        760px 90px #b2613c,
        770px 90px #ffffff,
        780px 90px #ffffff,
        790px 90px #b2613c,
        800px 90px #7a2b14,
        810px 90px #7a2b14,
        820px 90px #7a2b14,
        830px 90px #7a2b14,
        840px 90px #7a2b14,
        850px 90px #7a2b14,
        860px 90px #7a2b14,
        870px 90px #7a2b14,
        880px 90px #7a2b14,
    /**linha 03*/
        0px 100px #ffffff,
        10px 100px #ffffff,
        20px 100px #ffffff,
        30px 100px #ffffff,
        40px 100px #ffffff,
        50px 100px #ffffff,
        60px 100px #ffffff,
        70px 100px #ffffff,
        80px 100px #ffffff,
        90px 100px #ffffff,
        100px 100px #b2613c6b,
        110px 100px #b2613c,
        120px 100px #b2613c,
        130px 100px #b2613c,
        140px 100px #b2613c,
        150px 100px #b2613c,
        160px 100px #b2613c,
        170px 100px #b2613c,
        180px 100px #b2613c,
        190px 100px #b2613c,
        200px 100px #ffffff,
        210px 100px #b2613c6b,
        220px 100px #b2613c6b,
        230px 100px #b2613c,
        240px 100px #b2613c,
        250px 100px #b2613c,
        260px 100px #b2613c,
        270px 100px #b2613c,
        280px 100px #b2613c,
        290px 100px #b2613c,
        300px 100px #b2613c,
        310px 100px #b2613c,
        320px 100px #b2613c,
        330px 100px #b2613c,
        340px 100px #b2613c,
        350px 100px #b2613c,
        360px 100px #b2613c,
        370px 100px #b2613c,
        380px 100px #b2613c,
        390px 100px #b2613c,
        400px 100px #b2613c,
        410px 100px #b2613c,
        420px 100px #b2613c,
        430px 100px #b2613c,
        440px 100px #b2613c,
        450px 100px #b2613c,
        460px 100px #b2613c,
        470px 100px #b2613c,
        480px 100px #b2613c,
        490px 100px #b2613c,
        500px 100px #b2613c,
        510px 100px #b2613c,
        520px 100px #b2613c,
        530px 100px #b2613c,
        540px 100px #7a2b14,
        550px 100px #7a2b14,
        560px 100px #7a2b14,
        570px 100px #7a2b14,
        580px 100px #b2613c,
        590px 100px #b2613c,
        600px 100px #b2613c,
        610px 100px #b2613c,
        620px 100px #b2613c,
        630px 100px #b2613c,
        640px 100px #b2613c,
        650px 100px #b2613c,
        660px 100px #b2613c,
        670px 100px #b2613c,
        680px 100px #7a2b14,
        690px 100px #7a2b14,
        700px 100px #7a2b14,
        710px 100px #7a2b14,
        720px 100px #b2613c,
        730px 100px #7a2b14,
        740px 100px #7a2b14,
        750px 100px #b2613c,
        760px 100px #b2613c,
        770px 100px #ffffff,
        780px 100px #b2613c,
        790px 100px #7a2b14,
        800px 100px #7a2b14,
        810px 100px #7a2b14,
        820px 100px #7a2b14,
        830px 100px #7a2b14,
        840px 100px #7a2b14,
        850px 100px #7a2b14,
        860px 100px #7a2b14,
        870px 100px #7a2b14,
        880px 100px #7a2b14,
    /**linha 04*/
        0px 110px #ffffff,
        10px 110px #ffffff,
        20px 110px #ffffff,
        30px 110px #ffffff,
        40px 110px #ffffff,
        50px 110px #ffffff,
        60px 110px #b2613c6b,
        70px 110px #b2613c6b,
        80px 110px #b2613c6b,
        90px 110px #b2613c6b,
        100px 110px #b2613c,
        110px 110px #b2613c,
        120px 110px #b2613c,
        130px 110px #b2613c,
        140px 110px #b2613c,
        150px 110px #b2613c,
        160px 110px #b2613c,
        170px 110px #b2613c,
        180px 110px #ffffff,
        190px 110px #b2613c6b,
        200px 110px #b2613c,
        210px 110px #ffffff,
        220px 110px #ffffff,
        230px 110px #ffffff,
        240px 110px #b2613c,
        250px 110px #b2613c,
        260px 110px #b2613c,
        270px 110px #b2613c,
        280px 110px #b2613c,
        290px 110px #b2613c,
        300px 110px #b2613c,
        310px 110px #b2613c,
        320px 110px #b2613c,
        330px 110px #b2613c,
        340px 110px #b2613c,
        350px 110px #b2613c,
        360px 110px #b2613c,
        370px 110px #b2613c,
        380px 110px #b2613c,
        390px 110px #b2613c,
        400px 110px #b2613c,
        410px 110px #b2613c,
        420px 110px #b2613c,
        430px 110px #b2613c,
        440px 110px #b2613c,
        450px 110px #b2613c,
        460px 110px #b2613c,
        470px 110px #b2613c,
        480px 110px #b2613c,
        490px 110px #b2613c,
        500px 110px #b2613c,
        510px 110px #b2613c,
        520px 110px #b2613c,
        530px 110px #b2613c,
        540px 110px #b2613c,
        550px 110px #7a2b14,
        560px 110px #7a2b14,
        570px 110px #7a2b14,
        580px 110px #7a2b14,
        590px 110px #7a2b14,
        600px 110px #7a2b14,
        610px 110px #b2613c,
        620px 110px #b2613c,
        630px 110px #b2613c,
        640px 110px #b2613c,
        650px 110px #b2613c,
        660px 110px #b2613c,
        670px 110px #b2613c,
        680px 110px #7a2b14,
        690px 110px #7a2b14,
        700px 110px #7a2b14,
        710px 110px #b2613c,
        720px 110px #b2613c,
        730px 110px #7a2b14,
        740px 110px #7a2b14,
        750px 110px #b2613c,
        760px 110px #b2613c,
        770px 110px #ffffff,
        780px 110px #b2613c,
        790px 110px #7a2b14,
        800px 110px #7a2b14,
        810px 110px #7a2b14,
        820px 110px #7a2b14,
        830px 110px #7a2b14,
        840px 110px #7a2b14,
        850px 110px #7a2b14,
        860px 110px #7a2b14,
        870px 110px #7a2b14,
        880px 110px #7a2b14,
    /**linha 05*/
        0px 120px #ffffff,
        10px 120px #ffffff,
        20px 120px #ffffff,
        30px 120px #ffffff,
        40px 120px #b2613c6b,
        50px 120px #b2613c,
        60px 120px #b2613c,
        70px 120px #b2613c,
        80px 120px #b2613c,
        90px 120px #b2613c,
        100px 120px #b2613c,
        110px 120px #b2613c,
        120px 120px #b2613c,
        130px 120px #b2613c,
        140px 120px #b2613c,
        150px 120px #7a2b14,
        160px 120px #b2613c,
        170px 120px #b2613c,
        180px 120px #b2613c6b,
        190px 120px #ffffff,
        200px 120px #b2613c6b,
        210px 120px #b2613c,
        220px 120px #ffffff,
        230px 120px #ffffff,
        240px 120px #ffffff,
        250px 120px #b2613c,
        260px 120px #b2613c,
        270px 120px #b2613c,
        280px 120px #b2613c,
        290px 120px #b2613c,
        300px 120px #b2613c,
        310px 120px #b2613c,
        320px 120px #b2613c,
        330px 120px #b2613c,
        340px 120px #b2613c,
        350px 120px #b2613c,
        360px 120px #b2613c,
        370px 120px #b2613c,
        380px 120px #b2613c,
        390px 120px #b2613c,
        400px 120px #b2613c,
        410px 120px #b2613c,
        420px 120px #b2613c,
        430px 120px #b2613c,
        440px 120px #b2613c,
        450px 120px #b2613c,
        460px 120px #b2613c,
        470px 120px #b2613c,
        480px 120px #b2613c,
        490px 120px #b2613c,
        500px 120px #b2613c,
        510px 120px #b2613c,
        520px 120px #b2613c,
        530px 120px #b2613c,
        540px 120px #b2613c,
        550px 120px #b2613c,
        560px 120px #7a2b14,
        570px 120px #7a2b14,
        580px 120px #7a2b14,
        590px 120px #7a2b14,
        600px 120px #7a2b14,
        610px 120px #7a2b14,
        620px 120px #b2613c,
        630px 120px #b2613c,
        640px 120px #b2613c,
        650px 120px #b2613c,
        660px 120px #b2613c,
        670px 120px #b2613c,
        680px 120px #b2613c,
        690px 120px #7a2b14,
        700px 120px #7a2b14,
        710px 120px #b2613c,
        720px 120px #7a2b14,
        730px 120px #7a2b14,
        740px 120px #7a2b14,
        750px 120px #7a2b14,
        760px 120px #b2613c,
        770px 120px #b2613c,
        780px 120px #b2613c,
        790px 120px #7a2b14,
        800px 120px #7a2b14,
        810px 120px #7a2b14,
        820px 120px #7a2b14,
        830px 120px #7a2b14,
        840px 120px #7a2b14,
        850px 120px #7a2b14,
        860px 120px #7a2b14,
        870px 120px #7a2b14,
        880px 120px #7a2b14,
    /**linha 06*/
        0px 130px #ffffff,
        10px 130px #ffffff,
        20px 130px #ffffff,
        30px 130px #b2613c6b,
        40px 130px #b2613c,
        50px 130px #b2613c,
        60px 130px #b2613c,
        70px 130px #b2613c,
        80px 130px #b2613c,
        90px 130px #b2613c,
        100px 130px #b2613c,
        110px 130px #b2613c,
        120px 130px #b2613c,
        130px 130px #b2613c,
        140px 130px #b2613c,
        150px 130px #7a2b14,
        160px 130px #b2613c,
        170px 130px #ffffff,
        180px 130px #b2613c,
        190px 130px #b2613c6b,
        200px 130px #ffffff,
        210px 130px #ffffff,
        220px 130px #ffffff,
        230px 130px #ffffff,
        240px 130px #ffffff,
        250px 130px #ffffff,
        260px 130px #b2613c,
        270px 130px #b2613c,
        280px 130px #b2613c,
        290px 130px #b2613c,
        300px 130px #b2613c,
        310px 130px #b2613c,
        320px 130px #b2613c,
        330px 130px #b2613c,
        340px 130px #b2613c,
        350px 130px #b2613c,
        360px 130px #b2613c,
        370px 130px #b2613c,
        380px 130px #b2613c,
        390px 130px #b2613c,
        400px 130px #b2613c,
        410px 130px #b2613c,
        420px 130px #b2613c,
        430px 130px #b2613c,
        440px 130px #b2613c,
        450px 130px #b2613c,
        460px 130px #b2613c,
        470px 130px #b2613c,
        480px 130px #b2613c,
        490px 130px #b2613c,
        500px 130px #b2613c,
        510px 130px #b2613c,
        520px 130px #b2613c,
        530px 130px #b2613c,
        540px 130px #b2613c,
        550px 130px #b2613c,
        560px 130px #b2613c,
        570px 130px #7a2b14,
        580px 130px #7a2b14,
        590px 130px #7a2b14,
        600px 130px #7a2b14,
        610px 130px #7a2b14,
        620px 130px #7a2b14,
        630px 130px #7a2b14,
        640px 130px #b2613c,
        650px 130px #b2613c,
        660px 130px #b2613c,
        670px 130px #b2613c,
        680px 130px #b2613c,
        690px 130px #7a2b14,
        700px 130px #7a2b14,
        710px 130px #7a2b14,
        720px 130px #7a2b14,
        730px 130px #7a2b14,
        740px 130px #7a2b14,
        750px 130px #7a2b14,
        760px 130px #b2613c,
        770px 130px #b2613c,
        780px 130px #b2613c,
        790px 130px #7a2b14,
        800px 130px #b2613c,
        810px 130px #b2613c,
        820px 130px #7a2b14,
        830px 130px #7a2b14,
        840px 130px #7a2b14,
        850px 130px #7a2b14,
        860px 130px #7a2b14,
        870px 130px #7a2b14,
        880px 130px #7a2b14,
    /**linha 07*/
        0px 140px #ffffff,
        10px 140px #ffffff,
        20px 140px #b2613c6b,
        30px 140px #b2613c,
        40px 140px #b2613c,
        50px 140px #b2613c,
        60px 140px #b2613c,
        70px 140px #b2613c,
        80px 140px #b2613c,
        90px 140px #b2613c,
        100px 140px #b2613c,
        110px 140px #b2613c,
        120px 140px #b2613c,
        130px 140px #b2613c,
        140px 140px #b2613c,
        150px 140px #b2613c,
        160px 140px #b2613c,
        170px 140px #ffffff,
        180px 140px #ffffff,
        190px 140px #b2613c,
        200px 140px #ffffff,
        210px 140px #ffffff,
        220px 140px #ffffff,
        230px 140px #ffffff,
        240px 140px #ffffff,
        250px 140px #ffffff,
        260px 140px #ffffff,
        270px 140px #b2613c,
        280px 140px #b2613c,
        290px 140px #b2613c,
        300px 140px #b2613c,
        310px 140px #b2613c,
        320px 140px #b2613c,
        330px 140px #b2613c,
        340px 140px #b2613c,
        350px 140px #b2613c,
        360px 140px #b2613c,
        370px 140px #b2613c,
        380px 140px #b2613c,
        390px 140px #7a2b14,
        400px 140px #7a2b14,
        410px 140px #7a2b14,
        420px 140px #7a2b14,
        430px 140px #7a2b14,
        440px 140px #b2613c,
        450px 140px #b2613c,
        460px 140px #b2613c,
        470px 140px #b2613c,
        480px 140px #b2613c,
        490px 140px #b2613c,
        500px 140px #b2613c,
        510px 140px #b2613c,
        520px 140px #b2613c,
        530px 140px #b2613c,
        540px 140px #b2613c,
        550px 140px #b2613c,
        560px 140px #b2613c,
        570px 140px #7a2b14,
        580px 140px #7a2b14,
        590px 140px #7a2b14,
        600px 140px #7a2b14,
        610px 140px #7a2b14,
        620px 140px #7a2b14,
        630px 140px #7a2b14,
        640px 140px #7a2b14,
        650px 140px #7a2b14,
        660px 140px #b2613c,
        670px 140px #b2613c,
        680px 140px #b2613c,
        690px 140px #b2613c,
        700px 140px #7a2b14,
        710px 140px #7a2b14,
        720px 140px #7a2b14,
        730px 140px #7a2b14,
        740px 140px #b2613c,
        750px 140px #7a2b14,
        760px 140px #7a2b14,
        770px 140px #b2613c,
        780px 140px #b2613c,
        790px 140px #7a2b14,
        800px 140px #7a2b14,
        810px 140px #b2613c,
        820px 140px #b2613c,
        830px 140px #b2613c,
        840px 140px #7a2b14,
        850px 140px #7a2b14,
        860px 140px #7a2b14,
        870px 140px #7a2b14,
        880px 140px #7a2b14,
    /**linha 08*/
        /*!Nordeste*/
        880px 80px #001aff,
        /*!Noroeste*/
        0px 80px #ff0000,
        /*!Sudoeste*/
        0px 960px #15ff00,
        /*!Sudeste*/
        880px 960px #ffea00;
}